{% extends 'base.html.twig' %}

{% block title %}Directory listing{% endblock %}


{% block body %}
{% set testLetter = '' %}
    {% set first = true %}

    <div class="navbar navbar-inverse navbar-fixed-right">
        <a class="navbar-brand" href="#">Search</a>
        <ul class="nav navbar-nav">
                {% for letter in letters %}
                    <li>
                        <a href="#{{ letter }}">{{ letter }}</a>
                    </li>
                {% endfor %}
        </ul>
    </div>


    <div class="container">
        <div  class="row">

            {% for tennant in tennants %}

                    {% if tennant.name|first|upper != testLetter %}
                            {% if first != true %}
                                </table>

                            {% else %}
                                {% set first = false %}
                            {% endif %}
                        {% set testLetter = tennant.name|first|upper %}
                        <h1><a class=inactiveLink name="{{ testLetter }}">{{ testLetter }}</a></h1>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Company</th>
                                <th style="text-align: right">Office number</th>
                            </tr>
                            </thead>

                    {% endif %}
                <tr>
                    <td>{{ tennant.name }}</td>
                    <td style="text-align: right">{{ tennant.number }}</td>
                </tr>


                    {% endfor %}
            </table>
        </div>
    </div>







{% endblock %}
