{% extends 'base.html.twig' %}

{% block title %}Directory listing{% endblock %}


{% block body %}
{% set testLetter = '' %}
    {% set first = true %}

    <div class="navbar navbar-inverse navbar-fixed-right">
        <a class="navbar-brand" href="#">Search</a>
        <ul class="nav navbar-nav">
                {% for letter in letters %}
                    <li>
                        <a href="#{{ letter }}">{{ letter }}</a>
                    </li>
                {% endfor %}
        </ul>
    </div>


    <div class="container">
        <div  class="row">


            {% for tennant in tennants %}

                    {% if tennant.name|first|upper != testLetter %}

                        {% set testLetter = tennant.name|first|upper %}
                            {% if first != true %}
                                </ul>
                            {% else %}
                                {% set first = false %}
                            {% endif %}
                        <h1><a name="{{ testLetter }}">{{ testLetter }}</a></h1>
                        <ul class="list-group list-group-flush">
                    {% endif %}
                <li class="list-group-item">{{ tennant.name }} : {{ tennant.number }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>







{% endblock %}
